*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* For box model*/
}
body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff  ;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
}

.navbar_brand{
    width: 100px;
}

.navbar_logo{
    width: 100%;
}

.nav_item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );   

    color: #fff;
    border: none;
    padding:12px;
    border: radius 5px; ;
    cursor: pointer;
}
.nav_item:hover{
    border: 2px solid pink;
    background-position: right center;
}


